{% extends 'Admin/Shop/adminShop.html.twig' %}

{% block shopAction %}

    {% if success %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Super !</strong>
            <ul>
                {% for successMessage in success %}
                    <li>{{ successMessage|raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="panel panel-info">
        <div class="panel-heading"><b>Liste des créations du shop</b></div>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <a href="admin.php?route=addShopCreation">
                        <button class="btn btn-success pull-right" type="submit">Ajouter une création</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-9">
                    <h3>Nom de l'article</h3>
                </div>
                <div class="col-md-1 col-sm-3 col-xs-3">
                    <h3>Prix</h3>
                </div>
            </div>
            <hr>

            {% for creation in creations %}
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-9">
                        <h4>{{ creation.title | title }}</h4></div>
                    <div class="col-md-1 col-sm-2 col-xs-3">
                        <h4>{{ creation.price }} €</h4></div>

                    <div class="col-md-3 col-sm-4">
                        <div class="pull-right">
                            <a href="admin.php?route=updateShopAction&id={{ creation.id }}"
                               class="btn btn-warning btn-sm" type="submit" name="">Modifier
                            </a>
                            <form action="admin.php?route=deleteShopAction" method="post" class="form-inline-shop">
                                <input type="hidden" name="id" value="{{ creation.id }}"/>
                                <button class="btn btn-danger btn-sm" type="submit" name="">
                                    Supprimer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="hrShop">

            {% endfor %}
        </div>
    </div>

{% endblock %}