{% extends 'Admin/Shop/adminShop.html.twig' %}

{% block shopAction %}

    {% if errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Erreur{% if errors|length > 1 %}s{% endif %} !</strong>
            <ul>
                {% for error in errors %}
                    <li>{{ error|raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Super !</strong>
            <ul>
                {% for successMessage in success %}
                    <li>{{ successMessage|raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div class="panel panel-info">
        <div class="panel-heading"><b>Ajouter un objet au shop</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn btn-info pull-right"  href="admin.php?route=adminShop">
                      Liste des créations
                    </a>
                </div>
            </div>
            <form method="post" action="admin.php?route={{ creation.id ? 'updateShopAction' : 'addShopCreation' }}"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Titre de l'article</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ creation.title }}"
                           placeholder="">
                </div>

                <div class="form-group">
                    <label for="price">Prix</label>
                    <input type="text" class="form-control" id="price" name="price" value="{{ creation.price }}"
                           placeholder="">
                </div>

                <div class="form-group">
                    <label for="url_picture">Images</label>
                    <div class="input-group uploadInput">
                        <input type="file" id="url_picture" name="url_picture"
                               placeholder="">
                        <small>Format: .jpg ou .png | Taille maximum: 1Mo</small>

                    </div>
                </div>
                {% if  creation.id %}
                    <div class="thumbnail">
                    <img src="uploads/{{ creation.urlPicture }}">
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="url_etsy">Lien vers Etsy</label>
                    <input type="text" class="form-control" id="url_etsy" name="url_etsy"
                           value="{{ creation.urlEtsy }}" placeholder="">
                </div>
                <input type="hidden" name="id" value="{{ creation.id }}">
                <button type="submit" class="btn btn-default">Ajouter</button>
            </form>
        </div>
    </div>
{% endblock %}

