<!-- PC -->
<div class="row">
    <div class="col-xs-offset-1 col-sm-10">
        <h2 class="actu">Notre Actualité</h2>
        <hr class="linetitle"/>
    </div>
</div>
<div class="row formteltablette">
    <div class="row col-lg-offset-1 col-lg-10 hidden-md hidden-sm hidden-xs">

        <a href="#"><img class="col-lg-4 imgblog" src="{{ imgBlog[0].path }}" alt=""></a>
        <div class="col-lg-4">
            <div class="row">
                <a href="{{ urlImageInsta.0 }}"><img class="col-lg-6 imgpc" src="{{ imageInsta.0 }}" alt=""></a>
                <a href="{{ urlImageInsta.1 }}"><img class="col-lg-6 imgpc" src="{{ imageInsta.1 }}" alt=""></a>
            </div>
        </div>

        <a href="#"><img class="col-lg-4 imgblog" src="{{ imgBlog[1].path }}" alt=""></a>

    </div>
    <div class="row col-lg-offset-1 col-lg-10 hidden-md hidden-sm hidden-xs">
        <div class="col-lg-4 imginsta">
            <div class="row">
                <a href="{{ urlImageInsta.2 }}"><img class="col-lg-6 imgpc" src="{{ imageInsta.2 }}" alt=""></a>
                <a href="{{ urlImageInsta.3 }}"><img class="col-lg-6 imgpc" src="{{ imageInsta.3 }}" alt=""></a>
            </div>
        </div>

        <a href="#"><img class="col-lg-4 imgblog imgup" src="{{ imgBlog[2].path }}" alt=""></a>

        <div class="col-lg-4 imginsta">
            <div class="row">
                <a href="{{ urlImageInsta.4 }}"><img class="col-lg-6 imgpc" src="{{ imageInsta.4 }}" alt=""></a>
                <a href="{{ urlImageInsta.5 }}"><img class="col-lg-6 imgpc" src="{{ imageInsta.5 }}" alt=""></a>
            </div>
        </div>
    </div>

    <!-- Tablette -->
    <h3 class="titleteltablette hidden-lg hidden-xs">Nos derniers articles</h3>
    <div class="row hidden-lg hidden-xs">

        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="{{ imgBlog[0].path }}" alt=""></a>
        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="{{ imgBlog[1].path }}" alt=""></a>

    </div>
    <div class="row hidden-lg hidden-xs actuspacetop">

        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="{{ imgBlog[2].path }}" alt=""></a>
        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="{{ imgBlog[3].path }}" alt=""></a>

    </div>
    <h3 class="titleteltablette hidden-lg hidden-xs actu">Notre fil Instagram</h3>
    <div class="row hidden-lg hidden-xs">

        <a href="{{ urlImageInsta.0 }}"><img class="col-md-6 col-sm-6 imgtab" src="{{ imageInsta.0 }}" alt=""></a>
        <a href="{{ urlImageInsta.1 }}"><img class="col-md-6 col-sm-6 imgtab" src="{{ imageInsta.1 }}" alt=""></a>

    </div>
    <div class="row hidden-lg hidden-xs actuspacetop">

        <a href="{{ urlImageInsta.2 }}"><img class="col-md-6 col-sm-6 imgtab" src="{{ imageInsta.2 }}" alt=""></a>
        <a href="{{ urlImageInsta.3 }}"><img class="col-md-6 col-sm-6 imgtab" src="{{ imageInsta.3 }}" alt=""></a>

    </div>

    <!-- Mobile -->
    <h3 class="titleteltablette hidden-lg hidden-md hidden-sm">Nos derniers articles</h3>
    <div class="row hidden-lg hidden-md hidden-sm imgtel">

        <a href="#"><img class="col-xs-12" src="{{ imgBlog[0].path }}" alt=""></a>
        <a href="#"><img class="col-xs-12 actuspacetop" src="{{ imgBlog[1].path }}" alt=""></a>
        <a href="#"><img class="col-xs-12 actuspacetop" src="{{ imgBlog[2].path }}" alt=""></a>

    </div>
    <h3 class="titleteltablette hidden-lg hidden-md hidden-sm actu">Notre fil Instagram</h3>
    <div class="row hidden-lg hidden-md hidden-sm imgtel">

        <a href="{{ urlImageInsta.0 }}"><img class="col-xs-12" src="{{ imageInsta.0 }}" alt=""></a>
        <a href="{{ urlImageInsta.1 }}"><img class="col-xs-12 actuspacetop" src="{{ imageInsta.1 }}" alt=""></a>
        <a href="{{ urlImageInsta.2 }}"><img class="col-xs-12 actuspacetop" src="{{ imageInsta.2 }}" alt=""></a>

    </div>
</div>