<!-- PC -->
<div class="col-xs-offset-1 col-sm-10">
    <h2 class="actu">Notre Actualité</h2>
    <hr class="linetitle"/>
</div>
<div class="row">
    <div class="row col-lg-offset-1 col-lg-10 hidden-md hidden-sm hidden-xs">

        <a href="#"><img class="col-lg-4 imgblog" src="{{ imgBlog[0].path }}" alt=""></a>

        <div class="col-lg-4">
            <div class="row">
                <a href="#"><img class="col-lg-6 imgpc" src="http://via.placeholder.com/350x150" alt=""></a>
                <a href="#"><img class="col-lg-6 imgpc" src="http://via.placeholder.com/350x150" alt=""></a>
            </div>
        </div>

        <a href="#"><img class="col-lg-4 imgblog" src="{{ imgBlog[1].path }}" alt=""></a>

    </div>
    <div class="row col-lg-offset-1 col-lg-10 hidden-md hidden-sm hidden-xs">
        <div class="col-lg-4 imginsta">
            <div class="row">
                <a href="#"><img class="col-lg-6 imgpc" src="http://via.placeholder.com/350x150" alt=""></a>
                <a href="#"><img class="col-lg-6 imgpc" src="http://via.placeholder.com/350x150" alt=""></a>
            </div>
        </div>

        <a href="#"><img class="col-lg-4 imgblog imgup" src="{{ imgBlog[2].path }}" alt=""></a>

        <div class="col-lg-4 imginsta">
            <div class="row">
                <a href="#"><img class="col-lg-6 imgpc" src="http://via.placeholder.com/350x150" alt=""></a>
                <a href="#"><img class="col-lg-6 imgpc" src="http://via.placeholder.com/350x150" alt=""></a>
            </div>
        </div>
    </div>

    <!-- Tablette -->
    <h3 class="hidden-lg hidden-xs">Nos derniers articles</h3>
    <div class="row hidden-lg hidden-xs">

        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="{{ imgBlog[0].path }}" alt=""></a>
        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="{{ imgBlog[1].path }}" alt=""></a>

    </div>
    <div class="row hidden-lg hidden-xs actuspacetop">

        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="{{ imgBlog[2].path }}" alt=""></a>
        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="{{ imgBlog[3].path }}" alt=""></a>

    </div>
    <h3 class="hidden-lg hidden-xs actu">Notre fil Instagram</h3>
    <div class="row hidden-lg hidden-xs">

        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="http://via.placeholder.com/350x150" alt=""></a>
        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="http://via.placeholder.com/350x150" alt=""></a>

    </div>
    <div class="row hidden-lg hidden-xs actuspacetop">

        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="http://via.placeholder.com/350x150" alt=""></a>
        <a href="#"><img class="col-md-6 col-sm-6 imgtab" src="http://via.placeholder.com/350x150" alt=""></a>

    </div>

    <!-- Mobile -->
    <h3 class="hidden-lg hidden-md hidden-sm">Nos derniers articles</h3>
    <div class="row hidden-lg hidden-md hidden-sm imgtel">

        <a href="#"><img class="col-xs-12" src="{{ imgBlog[0].path }}" alt="">
        <a href="#"><img class="col-xs-12 actuspacetop" src="{{ imgBlog[1].path }}" alt=""></a>
        <a href="#"><img class="col-xs-12 actuspacetop" src="{{ imgBlog[2].path }}" alt=""></a>

    </div>
    <h3 class="hidden-lg hidden-md hidden-sm actu">Notre fil Instagram</h3>
    <div class="row hidden-lg hidden-md hidden-sm imgtel">

        <a href="#"><img class="col-xs-12" src="../../images/banner/banner.jpg" alt="">
        <a href="#"><img class="col-xs-12 actuspacetop" src="http://via.placeholder.com/350x150" alt=""></a>
        <a href="#"><img class="col-xs-12 actuspacetop" src="http://via.placeholder.com/350x150" alt=""></a>

    </div>
</div>