{% extends 'Admin/Blog/adminBlog.html.twig' %}

{% block blogAction %}

    {% if errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Erreur{% if errors|length > 1 %}s{% endif %} !</strong>
            <ul>
                {% for error in errors %}
                    <li>{{ error|raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if success %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Super !</strong>
            <ul>
                {% for successMessage in success %}
                    <li>{{ successMessage|raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="panel panel-info">
        <div class="panel-heading"><b>Ajouter un article au blog</b></div>
        <div class="panel-body">
            <form method="post" action="admin.php?route=addArticleBlog" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Titre de l'article</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="" value="{{ article['title'] ?? '' }}">
                </div>

                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" class="form-control" id="date" name="date" placeholder="YYYY/MM/DD" value="{{ article['date'] ?? '' }}">
                </div>

                <div class="form-group">
                    <input type="hidden" name="id" value="{{ articleBlog.id }}"/>
                    <label for="articleBlogSummernote">Contenu de l'article</label>
                    <textarea id="articleBlogSummernote" class="form-control" name="articleBlogSummernote">{{ article['articleBlogSummernote'] ?? '' }}</textarea>
                    <label for="articleBlogFile">Selectionner vos images :</label>
                    <input type="file" name="articleBlogFile[]" id="articleBlogFile" multiple="multiple" class="uploadInput"/>
                    <small>Format: .JPG | Taille maximum: 1Mo</small>
                    {#<button type="submit" class="btn btn-default">Télécharger vos images</button>#}
                </div>

                <button type="submit" class="btn btn-success">Valider l'article</button>
            </form>

            <div class="row">
                {% for myFile in myFiles %}
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="images/blog/{{ myFile }}" alt="uploaded file">
                        <div class="caption">
                            <p>
                                <a href="?delete={{ myFile }}" class="btn btn-red">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="btn btn-info pull-right" href="admin.php?route=adminBlog" role="button">Liste des articles</a>
        </div>
    </div>

{% endblock %}
