{% extends 'baseAdmin.html.twig' %}
{% block css %}
    {{ parent() }}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
{% endblock %}
{% block titlePage %}Atelier'O - Administration - Accueil{% endblock %}
{% block contentAdmin %}
    {% if messages['success'] or messages['danger'] %}
        {% for type, message in messages %}
            <div class="alert alert-{{ type }} fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ (type == 'danger') ? 'Erreur' : 'Super' }}{% if message|length > 1 %}s{% endif %} !</strong>
                <ul>
                    {% for msg in message %}
                        <li>{{ msg|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% endif %}
    {% include 'Admin/Accueil/adminAccueilChangeBanner.html.twig' %}
    {% include 'Admin/Accueil/adminAccueilChangeAboutUs.html.twig' %}
    {% include 'Admin/Accueil/adminAccueilChangePartner.html.twig' %}


{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script>
        $(document).ready(function() {
            $('#aboutUsSummernote').summernote({
                lang: 'fr-FR',
                toolbar: [
                    ['style', ['bold', 'italic']],
                    ['font', ['strikethrough']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['height', ['height']]
                ]
            });
        });

        $('#confirmDelPartner').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var partnerName = button.data('partner')
            var urlPicture = button.data('picture')
            var modal = $(this)
            if(button.data('id') === '') {
                var partnerId = ''
                modal.find('#delete').attr("disabled", "disabled")
                modal.find('#image').attr("class", "")
                modal.find('.modal-body > p').text("Erreur lors de la suppression")
            } else {
            var partnerId = button.data('id')
                modal.find('#image').attr('src','uploads/' + urlPicture)
                modal.find('.modal-body input').val(partnerId)
            }
            modal.find('#partnerName').text(partnerName)

        })
    </script>

{% endblock %}